#login-div  {
  display:block;
  text-align:center;
  width:960px;
  margin:auto;
  border:1px dotted #393939;
}

#login-div table {
  margin:auto;
}

h1,h2, a {
  color:#393939;
}
a {
  color:#393939;
  text-decoration:underline;
}
#back_home_link a:hover {
  background-color:#393939;
  color:#FFFFF9;
  text-decoration:underline;
}
#back_home_link {
  margin-left:80px;
  width:960px;
  text-align:left;
  margin-bottom:10px;
}
